#root {
  --text-white: #ffffff;
  --text-orange: #fb811e;
  --text-heading: #060606;
  --text-thin: #707070;
  --text-green: #009f4d;
  --text-grey: #f4f4f4;
  --text-color-transform: color 0.15s linear;

  --bg-white: #fff;
  --bg-orange: #fb811e;
  --bg-green: #009f4d;
  --bg-grey: #f4f4f4;

  --border-color: transparent;
  --border-color-light: #eee;

  --border-radius-sm: 15px;
  --border-radius-lg: 30px;
  --box-shadow-color: rgb(0 0 0/3%);
  --box-shadow-color-strong: rgb(0 0 0/ 41%);
}
#root.night-mode {
  --bg-white: #222;
  --text-heading: #ffffff;
  --text-grey: #0b0d0e;
  --text-thin: #b7b7b7;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --box-shadow-color: rgb(23 19 19);
  --box-shadow-color-strong: rgb(13 7 7);
}
.font--volkhov {
  font-family: "Volkhov", serif !important;
}
.font--source {
  font-family: "Source Sans Pro", sans-serif;
}
.project__button {
  border: none;
  padding: 12px 30px;
  color: var(--text-white);
  background-color: var(--bg-orange);
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.625rem;
  transition: 0.5s ease-in-out;
  font-family: "Source Sans Pro", sans-serif;
}
.project__button:hover {
  background-color: var(--bg-green);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: silver;
  height: 2000px;
}
/* ---- start header ---- */
header {
  background-color: transparent;

  border-bottom: 1px;
  transition: 0.4s linear;
  box-shadow: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.dropdown-toggle::after {
  display: none;
}
header .navbar {
  height: 90px;
  transition: height 0.3s linear;
  padding: 0;
}
.header__brand {
  position: relative;
  color: var(--text-orange);
  font-size: 2rem;
  padding: 0;
}
.header__brand:hover {
  color: var(--text-heading);
}
.header__brand--icon {
  color: inherit;
  position: absolute;
  font-size: 1.25rem;
  top: 4;
  left: 34%;
}

.header__brand--dropdown {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.header__brand--dropdown .dropdown-toggle i {
  font-size: 1.875rem;
  color: var(--text-white);
}
.header__brand--dropdown .dropdown-menu {
  right: 0;
  left: initial;
  text-align: center;
  transform-origin: 0% 0%;
  animation: slideIn-down 0.5s ease-in-out;
  padding: 0;
  min-width: 236px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--bg-white);
}
.header__brand--dropdown .dropdown-menu a {
  font-weight: 600;
  font-size: 1rem;
  padding: 7px;
  color: var(--text-heading);
}
.header__brand--dropdown .dropdown-menu a:hover {
  color: var(--text-orange);
  background-color: inherit;
}
.header__brand--dropdown .dropdown-menu a.current {
  color: var(--text-orange);
}
@keyframes slideIn-down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.header__search--input {
  width: 38px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  transition: width 0.5s linear;
  transform-origin: 100% 50%;
}
.header__search--input.show {
  width: 200px;
}
.header__search--input label.input-group-text {
  background-color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.header__search--input input {
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 15px;
}
.header__search--input input:focus {
  outline: none;
  box-shadow: none;
}
.header__mode--btn {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  color: var(--text-white);
}
.header__mode--btn i {
  font-size: 1.5rem;
  position: relative;
  transform: rotate(-24deg);
  color: inherit;
  transition: var(--text-color-transform);
}
.header__mode--btn:hover i {
  color: var(--text-orange);
}
header.scrolling {
  background-color: var(--bg-white);
  box-shadow: 0 3px 9px rgb(0 0 0/ 5%);
}
header.scrolling .navbar {
  height: 70px;
}
header.scrolling .header__brand {
  color: var(--text-heading);
}
header.scrolling .header__mode--btn {
  color: var(--text-heading);
}
header.scrolling .header__mode--btn:hover i {
  color: var(--text-heading);
}
header.scrolling .header__brand--dropdown .dropdown-toggle i {
  color: var(--text-heading);
}
/* --- end header --- */
/* --- start Carousel --- */
.project__carousel {
  background-color: var(--bg-white);
}

.project__carousel--content {
  position: relative;
  left: 5em;
  background-color: transparent;

  z-index: 1;
}
.carousel-content__sub-heading {
  font-size: 5rem;
  color: var(--text-grey);
  margin-left: -40px;
  position: absolute;
  z-index: 0;
}
.carousel-content__heading {
  padding-top: 60px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--text-heading);
  z-index: 1;
  position: relative;
}
.carousel-content__des {
  font-size: 1.063rem;
  color: var(--text-thin);
}
.project__carousel--slider {
  margin-right: -15px;
  margin-left: -15px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}
.project__carousel--slider img {
  height: 100vh;
  object-fit: cover;
}
.project__carousel--slider-btns li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 1;
}
.project__carousel--slider-btns li.active {
  background-color: var(--bg-orange);
}
.project__carousel--slider-caption {
  position: absolute;
  bottom: 40px;
  right: 17px;
  z-index: 1;
}
.project__carousel--slider-caption h4 {
  font-size: 1.456rem;
  color: var(--text-white);
}
.project__carousel--slider-caption h4 span {
}
.project__carousel--slider-caption p {
  font-size: 1.063rem;
  color: var(--text-white);
}

.project__carousel--content.content-inside {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-white);
  left: 0;
  right: 0;
  margin-left: 2em;
  margin-right: 2em;
  padding: 48px 32px 32px 64px;
  border-radius: 8px;
}
/* --- end Carousel --- */

/* --- start Content Title general --- */
.content__title h5 {
  color: var(--text-orange);
  font-size: 1.25rem;
}
.content__title h3 {
  color: var(--text-heading);
  line-height: 2.813rem;
  font-size: 2.188rem;
  font-weight: 600;
}
.content__title p {
  color: var(--text-thin);
  font-size: 1.063rem;
  font-weight: 300;
}
/* --- end Content Title general --- */

/* --- start Work --- */
.project__work {
  background-color: var(--bg-white);
}
.project__work--list {
}
.project__work--item {
  padding: 40px 30px;
  border-radius: var(--border-radius-sm);
  box-shadow: 0 1rem 3rem var(--box-shadow-color);
  cursor: pointer;
}
.project__work--item:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.project__work--img {
  max-width: 65px;
}
.project__work--link {
  margin-top: 25px;
  font-size: 1.25rem;
  color: var(--text-heading);
  margin-top: 25px;
  font-weight: 600;
  display: block;
}
.project__work--link:hover {
  color: var(--text-green);
}
/* --- end Work --- */

/* --- start Service ---- */
.project__service {
  background-color: var(--bg-green);
}

.project__service .content__title--bg {
  color: var(--text-white);
  opacity: 0.14;
  z-index: 0;
  font-size: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project__service--card {
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  border: none;
}
.project__service--card .card-body {
  padding: 30px 20px;
  background-color: var(--bg-white);
}
.project__service--tag {
  display: inline-block;
  color: var(--bg-green);
  background-color: rgb(0 157 77/16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.project__service--link {
  color: var(--text-heading);
  font-weight: 600;
  margin: 15px 0;
  font-size: 1.5rem;
}
.project__service--link:hover {
  color: var(--text-green);
}
.project__service--des {
  font-size: 1.063rem;
  color: var(--text-thin);
}
/* --- end Service ---- */

/* ---- start Experience --- */
.project__experience {
  background-color: var(--bg-white);
}
.project__experience--icon {
  color: var(--text-orange);
  font-size: 1.875rem;
}
.project__experience--info {
}
.project__experience--name {
  color: var(--text-heading);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.project__experience--des {
  font-size: 1.063rem;
  color: var(--text-thin);
}
.project__experience--img {
  border-radius: var(--border-radius-lg);
}
.project__experience--img-tag {
  bottom: 38px;
  left: -85px;
  padding: 40px;
  background-color: var(--bg-orange);
  min-width: 300px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  border-bottom-right-radius: 100px;
}
.project__experience--img-tag h1 {
  color: var(--text-white);
  font-size: 4.375rem;
  line-height: 80px;
  font-weight: 900;
}
.project__experience--img-tag p {
  color: var(--text-white);
  font-size: 1.125rem;
  font-weight: 600;
}
/* ---- end Experience --- */

/* --- start Summary --- */
.project__summary {
  background-color: var(--bg-white);
}
.project__summary--list {
}
.project__summary--item {
  margin-top: 30px;
  padding: 24px 8px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.project__summary--item.row {
  margin-left: 0;
  margin-right: 0;
}
.project__summary--item:hover {
  border: 1px solid var(--border-color-light);
}

.project__summary--img {
}
.project__summary--name {
  font-size: 1.188rem;
  line-height: 25px;
  color: var(--text-heading);
  font-weight: 700;
  transition: color 0.3s ease-in;
}
.project__summary--item:hover .project__summary--name {
  color: var(--text-green);
}
.project__summary--des {
  margin-top: 10px;
  color: var(--text-thin);
  font-size: 1.063rem;
  line-height: 26px;
}
/* --- end Summary --- */

/* --- start Gallery ---- */
.project__gallery {
  background-color: var(--bg-white);
}
.project__gallery--title {
}
.project__gallery--title h5 {
  font-size: 1.375rem;
  color: var(--text-orange);
}
.project__gallery--title h3 {
  font-size: 2.5rem;
  color: var(--text-heading);
  font-weight: 600;
  line-height: 50px;
}
.project__gallery--title p {
  color: var(--text-thin);
  font-size: 1.063rem;
  line-height: 26px;
}
.project__gallery--item {
  cursor: pointer;
  overflow: hidden;
}

.project__gallery--caption {
  margin: 20px;
  padding: 6px;
  background-color: rgb(255 255 255/ 27%);
  color: var(--text-white);
  font-size: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.project__gallery--item figure::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  z-index: 1;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  opacity: 0;
  transition: left 0.3s linear;
  transform: skewX(-17deg);
}
.project__gallery--item:hover figure::after {
  left: 100%;
  opacity: 1;
}
/* --- end Gallery ---- */

/* --- start Testimonial --- */
.project__testimonial {
  background: url(../imgs/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.project__testimonial::after {
  content: "";
  display: block;
  background: rgb(10 10 10/52%);
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project__testimonial .carousel {
  position: relative;
  z-index: 1;
}
.project__testimonial--img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.project__testimonial--guest {
  color: var(--text-white);
  margin: 10px 0 5px 0;
  font-size: 1.25rem;
}
.project__testimonial--customer {
  font-size: 1rem;
  color: var(--text-white);
}
.project__testimonial--comment {
  font-size: 1.375rem;
  line-height: 34px;
  color: var(--text-white);
}
.project__testimonial--icon {
  color: var(--text-orange);
  font-size: 1.25rem;
}
.project__testimonial .carousel-indicators {
  position: absolute;
  bottom: -10px;
}
.project__testimonial .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px 6px;
}
.project__testimonial .carousel-indicators li:hover {
  background-color: var(--bg-orange);
}
.project__testimonial .carousel-indicators li.active {
  background-color: var(--bg-orange);
}
/* --- end Testimonial ---- */

/* --- start Footer --- */
footer {
  background-color: var(--bg-white);
}
.footer__heading {
  color: var(--text-heading);
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: 600;
}
.footer__content {
  font-size: 1.063rem;
  color: var(--text-thin);
}
.footer__content span {
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.footer__content span:hover {
  color: var(--text-orange);
}
.footer__logo {
  font-size: 2rem;
  color: var(--text-orange);
  cursor: pointer;
}
.footer__logo:hover {
  color: var(--text-heading);
}
.footer__w3 {
  color: var(--text-green);
}
.footer__input input {
  outline: none;
  background-color: var(--bg-grey);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 1rem;
  padding: 12px 20px;
  height: 48px;
  width: 70%;
}
.footer__input input:focus {
  box-shadow: none;
  border: 1px solid var(--border-color-light);
}
.footer__input button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--bg-green);
  padding: 12px;
  height: 48px;
  width: 80%;
}
.footer__input button:hover {
  opacity: 0.8;
}
.night-mode .footer__input button:hover {
  opacity: 1;
}
.footer__input .input-group-append {
  width: 30%;
}
.footer__input button i {
  color: var(--text-white);
}
.footer__social {
}
.footer__social--item {
  margin-right: 5px;
}
.footer__social--link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--text-green);
  background-color: rgb(10 191 83/ 8%);
  display: block;
  text-align: center;
  transition: all 0.3s linear;
  line-height: 35px;
}

.footer__social--link:hover {
  color: var(--text-orange);
  background-color: rgb(255 201 61/ 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* --- end Footer --- */

/* --- start Scroll to top  --- */
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  font-size: 1rem;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--bg-green);
  text-align: center;
  line-height: 40px;
  z-index: 999;
  transition: opacity 0.2s linear;
}
.scroll-to-top:hover {
  opacity: 0.8;
}
.scroll-to-top:hover a {
  color: #fff;
}
/* --- end Scroll to top  --- */
